.nav {
  background-color: #eee;
  display: flex;
  /* 하단고정 */
  position: absolute;
  bottom: 0;
  width: 100%;
}

.nav a {
  flex: 1;
  padding: 16px 8px;
  text-align: center;
  text-decoration: none;
}

.nav a:hover {
  background-color: gold;
  cursor: pointer;
}
